* {
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
}


#paragraph{
    color: yellow;
}


section > ul > li {
    letter-spacing: 10px;
}


h1{
    font-size: 3rem;
}


h2{
    text-transform: uppercase;
}


.text-green{
    background-color: lightgreen;
}


.border-blue{
    border: 2px solid blue;
}


section img{
    height: 20vh;
    width: 20vh;
    border-radius: 100px;
}


img + ul{
    list-style-type: none;
}


#paragrahp2{
    color: black;
    text-align: center;
}
